body. html {
	position: relative;
}

body {
	background-color: white;
}

.card-head {
	font-family: Hind;
	position: absolute;
	font-size: 25px;
	left: 50%;
	top: 50%;
  transform: translate(-50%, -35%);
  text-align: center;
  color: rgba(161, 120, 178, 1);
	text-decoration: none
}

.logo {
	position: absolute;
	left: 46.1%;
	top: 25%
}

.socials {
	position: absolute;
	left: 50%;
	top: 58%;
	transform: translate(-50%, -35%);
	text-decoration: none
}
