body. html {
	position: relative;
}
body {
	background-image: url("ooga-booga.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120%; 
	width: 100%; 
}

body }
  
  img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] {
            display: none;
}

.main{
	color: white;
	text-align: center;
	font-size: 40px; 
	font-family: Ubuntu;
}

.main:hover {
	color: white; 
	font-weight: bold;
	font-size: 41px;
	font-family: Ubuntu;
	text-shadow:1px 1px 2px #000000;
}

.quizizz {
	text-align: center;
	font-size: 30px; 
	font-family: Comic Sans MS; 
	color: white;
}

.quizizz:hover { 
	font-size: 31px;
	text-shadow:1px 1px 2px #000000;
	color: white;
}

.classroom {
	text-align: center;
	font-size: 30px; 
	font-family: Comic Sans MS; 
	color: white;
}

.classroom:hover { 
	font-size: 31px;
	text-shadow:1px 1px 2px #000000;
	color: white;
}

.drive {
	text-align: center;
	font-size: 30px; 
	font-family: Comic Sans MS; 
	color: white;
}

.drive:hover { 
	font-size: 31px;
	text-shadow:1px 1px 2px #000000;
	color: white;
}

.gmail {
	text-align: center;
	font-size: 30px; 
	font-family: Comic Sans MS; 
	color: white;
}

.gmail:hover { 
	font-size: 31px;
	text-shadow:1px 1px 2px #000000;
	color: white;
}
