.Header {
  font-family: Source Sans Pro;
  font-size: 40px;
  text-align: center;
  color: black;
}

.HeaderContinued {
  font-family: Open Sans;
  font-size: 16px;
  text-align: center;
  color: black;
}

.Injection {
  font-family: Open Sans;
  font-size: 24px;
  color: black;
}

.InstallingThemes {
  font-family: Open Sans;
  font-size: 24px;
  color: black;
}

.SynapseSize {
  font-family: Open Sans;
  font-size: 24px;
  color: black;
}

.SynapseBootError {
  font-family: Open Sans;
  font-size: 24px;
  color: black;
}

.SynapseAutoJoin {
  font-family: Open Sans;
  font-size: 24px;
  color: black;
}

.Synapse24HourWhitelist {
  font-family: Open Sans;
  font-size: 24px;
  color: black;
}
